
bin/
lib/
include/
.vscode/

__pycache__
src/host-sources/*
src/dependencies/*
src/scripts/*
!src/scripts/scripts-info.txt
!src/dependencies/dependencies-info.txt
!src/host-sources/host-config.cfg
!src/host-sources/blacklist.json

*.cfg
*.DS_Store
*.icloudsrc/classes/git.py
