
bin/
lib/
include/
.vscode/

__pycache__
src/dependencies/*
src/scripts/*
!src/scripts/scripts-info.txt
!src/dependencies/dependencies-info.txt

*.DS_Store
*.icloud

pyvenv.cfg
src/client-experimentation.py
